flows.json
[
    {
        "id": "9ffaf4a50f363f22",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6b62a21c7ac773f",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "bbedd69c8c297a0b"
            ]
        ]
    },
    {
        "id": "64a06e4d992eae97",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1160,
        "y": 120,
        "wires": [
            [
                "b7edd705e6299cc2"
            ]
        ]
    },
    {
        "id": "2a40f09a09e9863f",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "9d087983f318aca6"
            ]
        ]
    },
    {
        "id": "1bb798c6dc1072b1",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1300,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4b554fb5f150a3f4",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1860,
        "y": 160,
        "wires": [
            [
                "1307d393f4edacea",
                "ca4a200023daf268",
                "eef01edb1bef9cc7"
            ]
        ]
    },
    {
        "id": "caa4d98949c7e701",
        "type": "google-home-conf",
        "username": "Fixero"
    },
    {
        "id": "8d25db8c821dac72",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bdd3e9eeb8cd86cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Kamil dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4826374eb28b8579",
        "type": "ui_group",
        "name": "Debug",
        "tab": "8d25db8c821dac72",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4eea07dacc3cc504",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "acknowledge": true,
        "name": "wled-desk",
        "topic": "desk",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "5a775f44c5a04ffd",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32646",
        "acknowledge": true,
        "name": "wled-up",
        "topic": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "2304b10cd110da24",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32647",
        "acknowledge": true,
        "name": "wled-down",
        "topic": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "610291c954af6852",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32650",
        "acknowledge": true,
        "name": "pc",
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2e37ae7f161d44bf",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32649",
        "acknowledge": true,
        "name": "scene",
        "topic": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "f9f5222d3307d3a2"
            ]
        ]
    },
    {
        "id": "6946712f49f33e80",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "onof",
        "format": "{{msg.payload.params.on}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "9d1a3d699b4477e4",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "bri",
        "format": "{{msg.payload.params.brightness}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "75054f6c44fdfdba",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload.params.color.temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "97bda075be31518a",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "spectrumRGB",
        "format": "{{msg.payload.params.color.spectrumRGB}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "bbedd69c8c297a0b",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params",
        "property": "payload.params",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "6946712f49f33e80",
                "8cfa41f5d3f92345"
            ],
            [
                "9d1a3d699b4477e4",
                "6d22ec1b33fc9833"
            ],
            [
                "0e1ae18a04fa1a48"
            ]
        ]
    },
    {
        "id": "ace1264ff31c86d3",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "spectrumRGB -> hex string",
        "func": "let colorInt = msg.payload.params.color.spectrumRGB;\nlet colorString = colorInt.toString(16);\nlet newMsg = {};\n\nmsg.payload = colorString;\nnewMsg.color = colorInt;\n\n\nreturn [msg, newMsg];\n\n\n// try{\n//     msg.payload.params.color.spectrumRGB\n// }\n\n\n// num.toString(16)\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 260,
        "wires": [
            [
                "732597945aedf1d6",
                "ba1106a4146039b5",
                "ca541719d9b3ad9e"
            ],
            [
                "2f3634a5c980132c"
            ]
        ],
        "inputLabels": [
            "spectrumRgb"
        ],
        "outputLabels": [
            "hexString",
            "spectrumRgb"
        ]
    },
    {
        "id": "0e1ae18a04fa1a48",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params.color",
        "property": "payload.params.color",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "spectrumRGB",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "temperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "97bda075be31518a",
                "ace1264ff31c86d3"
            ],
            [
                "75054f6c44fdfdba",
                "c6096322a65fa967"
            ]
        ]
    },
    {
        "id": "732597945aedf1d6",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hex color",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "ba1106a4146039b5",
        "type": "ui_colour_picker",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "label": "",
        "group": "4826374eb28b8579",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1050,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ca541719d9b3ad9e",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "devName",
        "format": "{{msg.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "6d22ec1b33fc9833",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with brightness",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "msg.payload.params.brightness",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "2a40f09a09e9863f"
            ]
        ]
    },
    {
        "id": "c6096322a65fa967",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.params.color.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "1bb798c6dc1072b1"
            ]
        ]
    },
    {
        "id": "18e4d12257d68266",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send onOff request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.33/win&T={{on}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1660,
        "y": 120,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "57701eebef619216",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "info": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "x": 1860,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca4a200023daf268",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "statusCode",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2000,
        "y": 160,
        "wires": []
    },
    {
        "id": "8cfa41f5d3f92345",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with on/off state",
        "rules": [
            {
                "t": "set",
                "p": "on",
                "pt": "msg",
                "to": "msg.payload.params.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "64a06e4d992eae97"
            ]
        ]
    },
    {
        "id": "46e4e50f672094fe",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "Parse home commands: onState, brightness, color, temperature to commands understandable by WLED",
        "info": "",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "f37ee142b91dc690",
        "type": "inject",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "props": [
            {
                "p": "on",
                "v": "3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1510,
        "y": 40,
        "wires": [
            [
                "18e4d12257d68266"
            ]
        ]
    },
    {
        "id": "eef01edb1bef9cc7",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1970,
        "y": 120,
        "wires": []
    },
    {
        "id": "1307d393f4edacea",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "url",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "responseUrl",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1970,
        "y": 200,
        "wires": []
    },
    {
        "id": "b7edd705e6299cc2",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "true/false to \"0\" \"1\"",
        "func": "let bool = msg.on;\nlet newMsg = {};\n\nif(bool == true){\n    bool = \"1\";\n} else {\n    bool = \"0\";\n}\n\nnewMsg.on = bool;\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 120,
        "wires": [
            [
                "18e4d12257d68266"
            ]
        ]
    },
    {
        "id": "6f0de4d8750d3505",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send brightness request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.33/win&A={{brightness}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1680,
        "y": 160,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "9d087983f318aca6",
        "type": "range",
        "z": "9ffaf4a50f363f22",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "brightness",
        "name": "brightness 0-100 to 0-255",
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "6f0de4d8750d3505"
            ]
        ]
    },
    {
        "id": "2f3634a5c980132c",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send color request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.33/win&CL={{color}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1660,
        "y": 200,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "55362e62e43443fb",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "spectrumRGB can go straight to wled",
        "info": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "d1c948cf0d02d8d2",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "f9f5222d3307d3a2",
        "type": "template",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Michal? Chodzi o tego idiote?\nChlop supli do wleda nie umie zalaczyc 😂😂😂😂",
        "output": "str",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "d1c948cf0d02d8d2"
            ]
        ]
    }
]