flows.json
[
    {
        "id": "9ffaf4a50f363f22",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a148c9dca835f17",
        "type": "tab",
        "label": "Update g home status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ae249d09029b7b6",
        "type": "tab",
        "label": "Motion sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca8d3df2f1a7e9a9",
        "type": "tab",
        "label": "misc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b6530bcd77a42d0",
        "type": "tab",
        "label": "ghome onOff response",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "686cdb22219e9c9f",
        "type": "subflow",
        "name": "bri down",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "d395080dbb5f6af2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "9a9e47dd9dcfdca1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "27bb0e5cddfa934e",
        "type": "subflow",
        "name": "bri up",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "25be9e3f3a4b2601"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 60,
                "wires": [
                    {
                        "id": "47fa091b2f3c0bce",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5d87c4a6c424c840",
        "type": "subflow",
        "name": "lowest bri",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "60d52c741ef4e05a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 80,
                "wires": [
                    {
                        "id": "4c3f4edc519b120a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "52afd969a1cf0ffc",
        "type": "subflow",
        "name": "light yellow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 40,
                "wires": [
                    {
                        "id": "7ffaf0c823f795c0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 40,
                "wires": [
                    {
                        "id": "aefdd52834928122",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e51f69071017f997",
        "type": "subflow",
        "name": "white",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "35acb75cbfe9ce99"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 60,
                "wires": [
                    {
                        "id": "decfa4df4e118cf3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f346ac36acd43e99",
        "type": "subflow",
        "name": "yellow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 140,
                "wires": [
                    {
                        "id": "1482f685d47d3ecd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 460,
                "y": 60,
                "wires": [
                    {
                        "id": "decf3f5bd0ca9971",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "eb65f773a621ccc4",
        "type": "subflow",
        "name": "orange",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "ec1e12f90c60d043"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "91a0ac592ca5a62a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cc494343ad5f7d2c",
        "type": "subflow",
        "name": "red",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 160,
                "wires": [
                    {
                        "id": "417b9d300a0420c4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 100,
                "wires": [
                    {
                        "id": "03eebd07d4d20ea8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f6b62a21c7ac773f",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "399e830f6527be55"
            ]
        ]
    },
    {
        "id": "4b554fb5f150a3f4",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 2300,
        "y": 260,
        "wires": [
            [
                "ca4a200023daf268",
                "eef01edb1bef9cc7",
                "0f63dcc1c16649e4",
                "2ceac86c9de3924d"
            ]
        ]
    },
    {
        "id": "2a40f09a09e9863f",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1540,
        "y": 240,
        "wires": [
            [
                "9d087983f318aca6"
            ]
        ]
    },
    {
        "id": "64a06e4d992eae97",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1540,
        "y": 220,
        "wires": [
            [
                "b7edd705e6299cc2"
            ]
        ]
    },
    {
        "id": "b3c5cda6a292e8b0",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 780,
        "y": 340,
        "wires": [
            [
                "bbedd69c8c297a0b",
                "1e64ebb1c957f856"
            ]
        ]
    },
    {
        "id": "7789e0962ef366c1",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 280,
        "y": 1600,
        "wires": [
            [
                "a0ef447a7cd195a7"
            ]
        ]
    },
    {
        "id": "cafd3fca415f4999",
        "type": "junction",
        "z": "9a148c9dca835f17",
        "x": 600,
        "y": 800,
        "wires": [
            [
                "f627770d794b52d2",
                "08fb6c9b87e0ba1a",
                "0edc8d6dbd0d8751",
                "77d45ef6a21eaa7a"
            ]
        ]
    },
    {
        "id": "d4f3a365b0075c98",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 840,
        "y": 1540,
        "wires": [
            [
                "fc6c5f5cbe0f915c"
            ]
        ]
    },
    {
        "id": "bdd3e9eeb8cd86cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Kamil dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d25db8c821dac72",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4826374eb28b8579",
        "type": "ui_group",
        "name": "Debug",
        "tab": "8d25db8c821dac72",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": true,
        "className": ""
    },
    {
        "id": "12a448db8a6b02d4",
        "type": "ui_group",
        "name": "Terminal",
        "tab": "8d25db8c821dac72",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "caa4d98949c7e701",
        "type": "google-home-conf",
        "username": "Fixero"
    },
    {
        "id": "ef513e599ee752c3",
        "type": "websocket-client",
        "path": "ws://192.168.1.62:81",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "d395080dbb5f6af2",
        "type": "function",
        "z": "686cdb22219e9c9f",
        "name": "brightness down",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\nmsg.payload = '{\"bulbCommand\": \"02\"}' // bri down\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "9a9e47dd9dcfdca1"
            ]
        ]
    },
    {
        "id": "9a9e47dd9dcfdca1",
        "type": "http request",
        "z": "686cdb22219e9c9f",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "25be9e3f3a4b2601",
        "type": "function",
        "z": "27bb0e5cddfa934e",
        "name": "brightness up",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\n\nmsg.payload = '{\"bulbCommand\": \"01\"}' // bri up\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "47fa091b2f3c0bce"
            ]
        ]
    },
    {
        "id": "47fa091b2f3c0bce",
        "type": "http request",
        "z": "27bb0e5cddfa934e",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "60d52c741ef4e05a",
        "type": "subflow:686cdb22219e9c9f",
        "z": "5d87c4a6c424c840",
        "name": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "64c61f6a20e89bf4"
            ]
        ]
    },
    {
        "id": "64c61f6a20e89bf4",
        "type": "subflow:686cdb22219e9c9f",
        "z": "5d87c4a6c424c840",
        "name": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "4c3f4edc519b120a"
            ]
        ]
    },
    {
        "id": "4c3f4edc519b120a",
        "type": "subflow:686cdb22219e9c9f",
        "z": "5d87c4a6c424c840",
        "name": "",
        "x": 480,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7ffaf0c823f795c0",
        "type": "function",
        "z": "52afd969a1cf0ffc",
        "name": "brightness up",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\n\nmsg.payload = '{\"bulbCommand\": \"21\"}' // bri up\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 40,
        "wires": [
            [
                "aefdd52834928122"
            ]
        ]
    },
    {
        "id": "aefdd52834928122",
        "type": "http request",
        "z": "52afd969a1cf0ffc",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "35acb75cbfe9ce99",
        "type": "function",
        "z": "e51f69071017f997",
        "name": "brightness up",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\n\nmsg.payload = '{\"bulbCommand\": \"08\"}' // bri up\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "decfa4df4e118cf3"
            ]
        ]
    },
    {
        "id": "decfa4df4e118cf3",
        "type": "http request",
        "z": "e51f69071017f997",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1482f685d47d3ecd",
        "type": "function",
        "z": "f346ac36acd43e99",
        "name": "brightness up",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\n\nmsg.payload = '{\"bulbCommand\": \"17\"}' // bri up\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "decf3f5bd0ca9971"
            ]
        ]
    },
    {
        "id": "decf3f5bd0ca9971",
        "type": "http request",
        "z": "f346ac36acd43e99",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1e12f90c60d043",
        "type": "function",
        "z": "eb65f773a621ccc4",
        "name": "brightness up",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\n\nmsg.payload = '{\"bulbCommand\": \"09\"}' // bri up\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "91a0ac592ca5a62a"
            ]
        ]
    },
    {
        "id": "91a0ac592ca5a62a",
        "type": "http request",
        "z": "eb65f773a621ccc4",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "417b9d300a0420c4",
        "type": "function",
        "z": "cc494343ad5f7d2c",
        "name": "brightness up",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\n\nmsg.payload = '{\"bulbCommand\": \"05\"}' // bri up\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 100,
        "wires": [
            [
                "03eebd07d4d20ea8"
            ]
        ]
    },
    {
        "id": "03eebd07d4d20ea8",
        "type": "http request",
        "z": "cc494343ad5f7d2c",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "399e830f6527be55",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "msg.name",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wled-desk",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-ir",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-short",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "1b09234adde36173"
            ],
            [
                "8eba3691d133eb03"
            ],
            [
                "8136788f3ace0ce5"
            ],
            [
                "13dbd3259afb9ef1"
            ],
            [
                "c2651d12f8bea324"
            ]
        ]
    },
    {
        "id": "1b09234adde36173",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled desk",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.32",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "8eba3691d133eb03",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled shelf-up",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.95",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "8136788f3ace0ce5",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled shelf-down",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.29",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "13dbd3259afb9ef1",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled-ir",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.41",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 600,
        "wires": [
            [
                "075159bfbe7990f4"
            ]
        ]
    },
    {
        "id": "bbedd69c8c297a0b",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params",
        "property": "payload.params",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "6946712f49f33e80",
                "8cfa41f5d3f92345"
            ],
            [
                "9d1a3d699b4477e4",
                "6d22ec1b33fc9833"
            ],
            [
                "0e1ae18a04fa1a48"
            ]
        ]
    },
    {
        "id": "ace1264ff31c86d3",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "spectrumRGB -> hex string",
        "func": "let colorInt = msg.payload.params.color.spectrumRGB;\nlet colorString = colorInt.toString(16);\nlet newMsg = {};\n\nnewMsg.payload = colorString; // \nmsg.color = colorInt; // used by WLED\n\n// msg - goes to WLED\nreturn [newMsg, msg];\n\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 360,
        "wires": [
            [
                "732597945aedf1d6",
                "ba1106a4146039b5",
                "ca541719d9b3ad9e"
            ],
            [
                "2f3634a5c980132c"
            ]
        ],
        "inputLabels": [
            "spectrumRgb"
        ],
        "outputLabels": [
            "hexString",
            "spectrumRgb"
        ]
    },
    {
        "id": "0e1ae18a04fa1a48",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params.color",
        "property": "payload.params.color",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "spectrumRGB",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "temperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 360,
        "wires": [
            [
                "97bda075be31518a",
                "ace1264ff31c86d3"
            ],
            [
                "75054f6c44fdfdba",
                "c6096322a65fa967"
            ]
        ]
    },
    {
        "id": "6d22ec1b33fc9833",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with brightness",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "msg.payload.params.brightness",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "2a40f09a09e9863f"
            ]
        ]
    },
    {
        "id": "c6096322a65fa967",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.params.color.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 400,
        "wires": [
            [
                "23e428179924a42c"
            ]
        ]
    },
    {
        "id": "18e4d12257d68266",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send onOff request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{requestAddress}}/win&T={{on}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2100,
        "y": 220,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "57701eebef619216",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "info": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "x": 2360,
        "y": 180,
        "wires": []
    },
    {
        "id": "ca4a200023daf268",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "statusCode from wled request",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2490,
        "y": 260,
        "wires": []
    },
    {
        "id": "8cfa41f5d3f92345",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with on/off state",
        "rules": [
            {
                "t": "set",
                "p": "on",
                "pt": "msg",
                "to": "msg.payload.params.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "64a06e4d992eae97"
            ]
        ]
    },
    {
        "id": "46e4e50f672094fe",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "Parse home commands: onState, brightness, color, temperature to commands understandable by WLED",
        "info": "",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "b7edd705e6299cc2",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "true/false to \"0\" \"1\"",
        "func": "let bool = msg.on;\n\n\nif(bool == true){\n    bool = \"1\";\n} else {\n    bool = \"0\";\n}\n\nmsg.on = bool;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "18e4d12257d68266"
            ]
        ]
    },
    {
        "id": "6f0de4d8750d3505",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send brightness request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{requestAddress}}/win&A={{brightness}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2120,
        "y": 260,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "9d087983f318aca6",
        "type": "range",
        "z": "9ffaf4a50f363f22",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "brightness",
        "name": "brightness 0-100 to 0-255",
        "x": 1690,
        "y": 260,
        "wires": [
            [
                "6f0de4d8750d3505"
            ]
        ]
    },
    {
        "id": "2f3634a5c980132c",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send color request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{requestAddress}}/win&CL={{color}}&T=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2100,
        "y": 300,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "0f63dcc1c16649e4",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "whole msg",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2430,
        "y": 340,
        "wires": []
    },
    {
        "id": "2ceac86c9de3924d",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "url after request",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "responseUrl",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 300,
        "wires": []
    },
    {
        "id": "1a239aca8279508e",
        "type": "template",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "field": "state",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.params.on}}",
        "output": "str",
        "x": 280,
        "y": 1060,
        "wires": [
            [
                "91ee46c6c6984204"
            ]
        ]
    },
    {
        "id": "2e596abc3ea67cf3",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.77/api?p={{state}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 1060,
        "wires": [
            [
                "1c41eecd124da8f5",
                "33fa10f2dae4b382"
            ]
        ]
    },
    {
        "id": "ec34f3a72def4509",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "PC on/off",
        "info": "http://192.168.1.77/api?p=off",
        "x": 160,
        "y": 940,
        "wires": []
    },
    {
        "id": "1c41eecd124da8f5",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1040,
        "wires": []
    },
    {
        "id": "33fa10f2dae4b382",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "responseUrlstring",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "responseUrl",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d52d52552741aa27",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "msg.state=off",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1080,
        "wires": [
            [
                "2e596abc3ea67cf3"
            ]
        ]
    },
    {
        "id": "91ee46c6c6984204",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "msg.state?",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "819b87fa28bba4c5"
            ],
            [
                "d52d52552741aa27"
            ]
        ]
    },
    {
        "id": "819b87fa28bba4c5",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "msg.state=on",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "2e596abc3ea67cf3"
            ]
        ]
    },
    {
        "id": "cd75ec966815c4c1",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "Catch everything else",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "51da9d9ef4872525",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.1.41/json/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 700,
        "wires": [
            [
                "8af80de7fa52e249"
            ]
        ]
    },
    {
        "id": "68ccd0c019426fda",
        "type": "catch",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 1160,
        "wires": [
            [
                "cd75ec966815c4c1",
                "dc67b929d4ac7adc"
            ]
        ]
    },
    {
        "id": "799cfde25e88915e",
        "type": "template",
        "z": "9ffaf4a50f363f22",
        "name": "payload: wled color",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"seg\": {\n        \"col\": [\n            [{{colorArray}}]\n        ]\n    }\n}",
        "output": "str",
        "x": 1270,
        "y": 700,
        "wires": [
            [
                "51da9d9ef4872525"
            ]
        ]
    },
    {
        "id": "f515a6706e07e594",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "color",
        "func": "let colorInt = msg.payload.params.color.spectrumRGB;\n\n// node.warn(\"colorInt=\"+colorInt);\n// node.warn(colorInt);\n\n// Parse the hex string into three separate values for red, green, and blue\nlet r = (colorInt >> 16) & 255;\nlet g = (colorInt >> 8) & 255;\nlet b = colorInt & 255;\n\n\n// save RGB values as an array\nmsg.colorArray = [r, g, b];\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "799cfde25e88915e"
            ]
        ]
    },
    {
        "id": "075159bfbe7990f4",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params",
        "property": "payload.params",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 660,
        "y": 600,
        "wires": [
            [
                "89be4982171e0fe5"
            ],
            [
                "a29b55984f332de5"
            ],
            [
                "775e16ca7b450f51"
            ]
        ]
    },
    {
        "id": "8de734d93914b78d",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "sendCmd",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "89be4982171e0fe5",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "on/off",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\nlet statusFromGHome = msg.payload.params.on; // assigning to variable\n\n// if I wanted to put value from msg straight into payload you would do this: \n// msg.payload = `{\"bulbCommand\": ${msg.payload.params.on}}`\n\n// translate ghome command to irBulb command, \"03\" = off, \"04\" - on\n// constant payloads in this case so surrounded by ' not ` \nif(statusFromGHome){\n    msg.payload = '{\"bulbCommand\": \"04\"}'\n} else {\n    msg.payload = '{\"bulbCommand\": \"03\"}'\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "8de734d93914b78d"
            ]
        ]
    },
    {
        "id": "c2651d12f8bea324",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "name": "wled short",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.71",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "23e428179924a42c",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "rgbToKelvin",
        "func": "\n\nvar q = Math.log;\nvar Z = Math.floor;\nvar temperature = msg.payload;\nvar color = kelvinToRgb(temperature);\n\nvar colorInt = (color.r << 16) | (color.g << 8) | (color.b);\n\nmsg.color = colorInt;\n\nfunction kelvinToRgb(t){\n\n    var n,\n      i,\n      r,\n      e = t / 100;\n    return (\n      (r =\n        e < 66\n          ? ((n = 255),\n            (i =\n              -155.25485562709179 -\n              0.44596950469579133 * (i = e - 2) +\n              104.49216199393888 * q(i)),\n            e < 20\n              ? 0\n              : 0.8274096064007395 * (r = e - 10) -\n                254.76935184120902 +\n                115.67994401066147 * q(r))\n          : ((n =\n              351.97690566805693 +\n              0.114206453784165 * (n = e - 55) -\n              40.25366309332127 * q(n)),\n            (i =\n              325.4494125711974 +\n              0.07943456536662342 * (i = e - 50) -\n              28.0852963507957 * q(i)),\n            255)),\n      {\n        r: J(Z(n), 0, 255),\n        g: J(Z(i), 0, 255),\n        b: J(Z(r), 0, 255),\n      }\n    );\n}\n\nfunction J(t, n, i) {\n    return Math.min(Math.max(t, n), i)\n}\n\n// always also turn on when changing color\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 400,
        "wires": [
            [
                "2f3634a5c980132c"
            ]
        ]
    },
    {
        "id": "a29b55984f332de5",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "property": "payload.params.brightness",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "25",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "25",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "50",
                "vt": "num",
                "v2": "75",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 600,
        "wires": [
            [
                "e7302ee6f5d9bcd6"
            ],
            [
                "66c428748f886db9"
            ],
            [
                "24f37f99882f7d7d"
            ],
            [
                "cb4946d6ed38ebcd"
            ]
        ]
    },
    {
        "id": "8af80de7fa52e249",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "sendCmd",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1600,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e7302ee6f5d9bcd6",
        "type": "subflow:5d87c4a6c424c840",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 960,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "66c428748f886db9",
        "type": "subflow:5d87c4a6c424c840",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 960,
        "y": 600,
        "wires": [
            [
                "a9153339ee11b0e5"
            ]
        ]
    },
    {
        "id": "24f37f99882f7d7d",
        "type": "subflow:5d87c4a6c424c840",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 960,
        "y": 620,
        "wires": [
            [
                "6fc42eb20bfd0d6a"
            ]
        ]
    },
    {
        "id": "cb4946d6ed38ebcd",
        "type": "subflow:5d87c4a6c424c840",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 960,
        "y": 640,
        "wires": [
            [
                "3ac8f48b90afcc65"
            ]
        ]
    },
    {
        "id": "775e16ca7b450f51",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params.color",
        "property": "payload.params.color",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "spectrumRGB",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "temperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 720,
        "wires": [
            [
                "f515a6706e07e594"
            ],
            [
                "939cc7c5f5032f05"
            ]
        ]
    },
    {
        "id": "a9153339ee11b0e5",
        "type": "subflow:27bb0e5cddfa934e",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1090,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6fc42eb20bfd0d6a",
        "type": "subflow:27bb0e5cddfa934e",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1090,
        "y": 620,
        "wires": [
            [
                "0741f7c947d09f6a"
            ]
        ]
    },
    {
        "id": "0741f7c947d09f6a",
        "type": "subflow:27bb0e5cddfa934e",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1210,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3ac8f48b90afcc65",
        "type": "subflow:27bb0e5cddfa934e",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1090,
        "y": 640,
        "wires": [
            [
                "b72716844b793ad2"
            ]
        ]
    },
    {
        "id": "b72716844b793ad2",
        "type": "subflow:27bb0e5cddfa934e",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1210,
        "y": 640,
        "wires": [
            [
                "3d2b84e815cd9a04"
            ]
        ]
    },
    {
        "id": "3d2b84e815cd9a04",
        "type": "subflow:27bb0e5cddfa934e",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1330,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "939cc7c5f5032f05",
        "type": "range",
        "z": "9ffaf4a50f363f22",
        "minin": "2000",
        "maxin": "6500",
        "minout": "0",
        "maxout": "4",
        "action": "scale",
        "round": true,
        "property": "payload.params.color.temperature",
        "name": "",
        "x": 1110,
        "y": 820,
        "wires": [
            [
                "8adc57dc89421eb0",
                "050af29066315f82"
            ]
        ]
    },
    {
        "id": "8adc57dc89421eb0",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "property": "payload.params.color.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1230,
        "y": 820,
        "wires": [
            [
                "8967e17b3fb8216e"
            ],
            [
                "ec7c8b1955afb649"
            ],
            [
                "1c745f8efd75e179"
            ],
            [
                "75dd7b828bd1657b"
            ],
            [
                "6f081a60a5e94614"
            ]
        ]
    },
    {
        "id": "6f081a60a5e94614",
        "type": "subflow:e51f69071017f997",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1370,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "75dd7b828bd1657b",
        "type": "subflow:52afd969a1cf0ffc",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "1c745f8efd75e179",
        "type": "subflow:f346ac36acd43e99",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1370,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7c8b1955afb649",
        "type": "subflow:eb65f773a621ccc4",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1370,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8967e17b3fb8216e",
        "type": "subflow:cc494343ad5f7d2c",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "x": 1370,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1682738acd2e7278",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "temperature",
        "info": "",
        "x": 1290,
        "y": 760,
        "wires": []
    },
    {
        "id": "050af29066315f82",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.params.color.temperature",
        "statusType": "msg",
        "x": 1250,
        "y": 900,
        "wires": []
    },
    {
        "id": "291223240391f215",
        "type": "inject",
        "z": "9ffaf4a50f363f22",
        "name": "log-worktime",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 1640,
        "wires": [
            [
                "7789e0962ef366c1"
            ]
        ]
    },
    {
        "id": "a0ef447a7cd195a7",
        "type": "exec",
        "z": "9ffaf4a50f363f22",
        "command": "cd ../gsheets-append-row/ && node index.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 1600,
        "wires": [
            [
                "c630370eba53b45e",
                "9e343e0c2c4f6a87"
            ],
            [
                "dae3acab597ab777",
                "14ea972e9d295428"
            ],
            [
                "c630370eba53b45e",
                "f127c84cba53c805",
                "d4f3a365b0075c98"
            ]
        ]
    },
    {
        "id": "c630370eba53b45e",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "stdout",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 1520,
        "wires": []
    },
    {
        "id": "dae3acab597ab777",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "stderr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b44093bf4d7b577e",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "Worktime log - executes /home/gheets-api-appendRow/index.js",
        "info": "",
        "x": 310,
        "y": 1480,
        "wires": []
    },
    {
        "id": "8d4c601d7ae70f51",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "\\\\n -> <br>",
        "func": "\n\nmsg.payload = msg.payload.replace(/\\n/g, \"<br />\");\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1980,
        "wires": [
            [
                "e26a136bcd1036f4"
            ]
        ]
    },
    {
        "id": "3e58178715e9cc40",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "\\\\n -> <br>",
        "func": "\n\nmsg.payload = msg.payload.replace(/\\n/g, \"<br />\");\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1940,
        "wires": [
            [
                "1f3e31c406d0104e"
            ]
        ]
    },
    {
        "id": "ddbff0f78cc80d48",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "timestamp",
        "func": "\nlet timestamp = new Date();\n\nmsg.payload = \"Code: \"+msg.payload.code+\"<br>Time: \"+timestamp+\"<br>\";\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1900,
        "wires": [
            [
                "196af548e29ff66c"
            ]
        ]
    },
    {
        "id": "603552b00a7d6a15",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "execute commands, examples in label",
        "info": " example cmd: cd gsheets-append-row && ls -l; \n Example 2: cd gsheets-append-row && node -index.js \nIt always starts in home dir so you have to glue them together with &&\n\nTo update sheets code:\ncd gsheets-append-row && git pull\n",
        "x": 230,
        "y": 1820,
        "wires": []
    },
    {
        "id": "a5e7b7dc1d191e88",
        "type": "exec",
        "z": "9ffaf4a50f363f22",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 1940,
        "wires": [
            [
                "3e58178715e9cc40",
                "e707d88f236eb90f"
            ],
            [
                "8d4c601d7ae70f51",
                "e707d88f236eb90f"
            ],
            [
                "ddbff0f78cc80d48",
                "e707d88f236eb90f"
            ]
        ]
    },
    {
        "id": "551d7e507ea3d5cc",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "stderr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2000,
        "wires": []
    },
    {
        "id": "c0870af08ed65219",
        "type": "exec",
        "z": "9ffaf4a50f363f22",
        "command": "pwd",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 1880,
        "wires": [
            [
                "5bbf67e6bba3549d"
            ],
            [],
            []
        ]
    },
    {
        "id": "e707d88f236eb90f",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "stderr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 2020,
        "wires": []
    },
    {
        "id": "c8beefd196afe182",
        "type": "exec",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "command": "cd gsheets-append-row && node index.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 1640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a2e08c8a45c5c9f6",
        "type": "inject",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "name": "pull repo",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "e26ffa2137bb7684"
            ]
        ]
    },
    {
        "id": "e26ffa2137bb7684",
        "type": "exec",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "command": "cd gsheets-append-row && git pull",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 1720,
        "wires": [
            [
                "9e343e0c2c4f6a87"
            ],
            [
                "14ea972e9d295428"
            ],
            [
                "f127c84cba53c805"
            ]
        ]
    },
    {
        "id": "b801a062ce885e46",
        "type": "ui_text_input",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "label": "cmd",
        "tooltip": "",
        "group": "12a448db8a6b02d4",
        "order": 2,
        "width": "15",
        "height": "2",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1880,
        "wires": [
            [
                "a5e7b7dc1d191e88",
                "551d7e507ea3d5cc",
                "c0870af08ed65219"
            ]
        ]
    },
    {
        "id": "ba1106a4146039b5",
        "type": "ui_colour_picker",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "label": "",
        "group": "4826374eb28b8579",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6946712f49f33e80",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "onof",
        "format": "{{msg.payload.params.on}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d1a3d699b4477e4",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "bri",
        "format": "{{msg.payload.params.brightness}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "75054f6c44fdfdba",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload.params.color.temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "97bda075be31518a",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "spectrumRGB",
        "format": "{{msg.payload.params.color.spectrumRGB}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "732597945aedf1d6",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hex color",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1480,
        "y": 280,
        "wires": []
    },
    {
        "id": "ca541719d9b3ad9e",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "devName",
        "format": "{{msg.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1480,
        "y": 320,
        "wires": []
    },
    {
        "id": "eef01edb1bef9cc7",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2410,
        "y": 200,
        "wires": []
    },
    {
        "id": "5bbf67e6bba3549d",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "12a448db8a6b02d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current directory: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 1860,
        "wires": []
    },
    {
        "id": "196af548e29ff66c",
        "type": "ui_template",
        "z": "9ffaf4a50f363f22",
        "group": "12a448db8a6b02d4",
        "name": "",
        "order": 5,
        "width": "15",
        "height": "2",
        "format": "<h1>Exit code</h1>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "1f3e31c406d0104e",
        "type": "ui_template",
        "z": "9ffaf4a50f363f22",
        "group": "12a448db8a6b02d4",
        "name": "",
        "order": 3,
        "width": "15",
        "height": "5",
        "format": "<h1>stdout</h1>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "e26a136bcd1036f4",
        "type": "ui_template",
        "z": "9ffaf4a50f363f22",
        "group": "12a448db8a6b02d4",
        "name": "",
        "order": 4,
        "width": "15",
        "height": "5",
        "format": "<h1>stderr</h1>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "4eea07dacc3cc504",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "acknowledge": true,
        "name": "wled-desk",
        "topic": "desk",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "5a775f44c5a04ffd",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32646",
        "acknowledge": true,
        "name": "wled-up",
        "topic": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "2304b10cd110da24",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32647",
        "acknowledge": true,
        "name": "wled-down",
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "610291c954af6852",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32650",
        "acknowledge": true,
        "name": "pc",
        "topic": "",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "1a239aca8279508e",
                "6a26fbe7fa4b9035"
            ]
        ]
    },
    {
        "id": "8ac12cb22d3b3ee3",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32817",
        "acknowledge": true,
        "name": "wled-ir",
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "92eb1373e49f154d",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "conf": "caa4d98949c7e701",
        "device": "32842",
        "acknowledge": true,
        "name": "wled-short",
        "topic": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "3f8aa79d35eb2d70",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "34024",
        "acknowledge": true,
        "name": "log-worktime",
        "topic": "",
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "7789e0962ef366c1"
            ]
        ]
    },
    {
        "id": "6a26fbe7fa4b9035",
        "type": "wled-notification",
        "z": "9ffaf4a50f363f22",
        "name": "WLED biurko - notify",
        "host": "192.168.1.32",
        "port": "21324",
        "fps": "30",
        "ledStart": "0",
        "ledCount": "64",
        "effect": "blink",
        "effectFrequency": "0.25",
        "effectCycles": "1",
        "effectColor": "#ffffff",
        "x": 340,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "dc67b929d4ac7adc",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "turn on ghome status",
        "func": "// if (!msg.payload) {\n// msg.payload = {\n//     command: \"action.devices.commands.OnOff\",\n//     params: {\n//         on: true\n//     }\n// };\n\n// delete msg._confId;\n\n// return msg;\n// } else {\n//     return;\n// }\n\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1300,
        "wires": [
            [
                "f333486646b22e35",
                "d9addd482c83c4b3"
            ]
        ]
    },
    {
        "id": "f333486646b22e35",
        "type": "google-home-response",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "34271",
        "name": "Error",
        "x": 810,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d9addd482c83c4b3",
        "type": "delay",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 1300,
        "wires": [
            [
                "4cb09d5f9a46cb93"
            ]
        ]
    },
    {
        "id": "4cb09d5f9a46cb93",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "turn off ghome status",
        "func": "// if (!msg.payload) {\n// msg.payload = {\n//     command: \"action.devices.commands.OnOff\",\n//     params: {\n//         on: true\n//     }\n// };\n\n// delete msg._confId;\n\n// return msg;\n// } else {\n//     return;\n// }\n\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1300,
        "wires": [
            [
                "b00072a6e627e542"
            ]
        ]
    },
    {
        "id": "b00072a6e627e542",
        "type": "google-home-response",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "34271",
        "name": "Error",
        "x": 1210,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1e64ebb1c957f856",
        "type": "link out",
        "z": "9ffaf4a50f363f22",
        "name": "wled cmd out ->",
        "mode": "link",
        "links": [
            "af86b1eedfbe7094"
        ],
        "x": 895,
        "y": 420,
        "wires": []
    },
    {
        "id": "c44583d56bffa0f1",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "Signal error via Error \"switch\"",
        "info": "",
        "x": 200,
        "y": 1160,
        "wires": []
    },
    {
        "id": "315f2ed7767b86e3",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "return code",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1170,
        "y": 1520,
        "wires": []
    },
    {
        "id": "14ea972e9d295428",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "name": "\\\\n -> <br>",
        "func": "\n\nmsg.payload = msg.payload.replace(/\\n/g, \"<br />\");\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1800,
        "wires": [
            [
                "7edb7dbf1295f30a"
            ]
        ]
    },
    {
        "id": "9e343e0c2c4f6a87",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "name": "\\\\n -> <br>",
        "func": "\n\nmsg.payload = msg.payload.replace(/\\n/g, \"<br />\");\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1760,
        "wires": [
            [
                "0cce82166a2f2dcc"
            ]
        ]
    },
    {
        "id": "f127c84cba53c805",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "name": "timestamp",
        "func": "\nlet timestamp = new Date();\n\nmsg.payload = \"Code: \"+msg.payload.code+\"<br>Timestamp: \"+timestamp;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1720,
        "wires": [
            [
                "50be8f982d4e3247"
            ]
        ]
    },
    {
        "id": "50be8f982d4e3247",
        "type": "ui_template",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "group": "4826374eb28b8579",
        "name": "",
        "order": 12,
        "width": "15",
        "height": "2",
        "format": "<h1>Exit code</h1>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "0cce82166a2f2dcc",
        "type": "ui_template",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "group": "4826374eb28b8579",
        "name": "",
        "order": 12,
        "width": "15",
        "height": "5",
        "format": "<h1>stdout</h1>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "7edb7dbf1295f30a",
        "type": "ui_template",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "group": "4826374eb28b8579",
        "name": "",
        "order": 12,
        "width": "15",
        "height": "5",
        "format": "<h1>stderr</h1>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "fc6c5f5cbe0f915c",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "is msg error?",
        "func": "\nif (msg.payload.code == 1) {\n    node.error(\"rtrn code 1\");\n    return msg;\n\n} else {\n    // empty msg\n    return;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1520,
        "wires": [
            [
                "315f2ed7767b86e3",
                "dc67b929d4ac7adc"
            ]
        ]
    },
    {
        "id": "6bc30fc43726c6ef",
        "type": "http request",
        "z": "9a148c9dca835f17",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.77/api",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "bc247d184e4e8b73",
                "746dee14d9462268"
            ]
        ]
    },
    {
        "id": "60ecc9f5144fede4",
        "type": "inject",
        "z": "9a148c9dca835f17",
        "name": "trigger interval",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "6bc30fc43726c6ef"
            ]
        ]
    },
    {
        "id": "bc247d184e4e8b73",
        "type": "switch",
        "z": "9a148c9dca835f17",
        "name": "pc online?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/api: PC status: Online",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/api: PC status: Offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "eb17e48e54b5651a"
            ],
            [
                "9bf342878f6ed31f"
            ]
        ]
    },
    {
        "id": "9bf342878f6ed31f",
        "type": "function",
        "z": "9a148c9dca835f17",
        "name": "turn off ghome status",
        "func": "msg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 380,
        "wires": [
            [
                "2bf2ad5631ef3774",
                "d497134c23c50366"
            ]
        ]
    },
    {
        "id": "eb17e48e54b5651a",
        "type": "function",
        "z": "9a148c9dca835f17",
        "name": "turn on ghome status",
        "func": "// if (!msg.payload) {\n// msg.payload = {\n//     command: \"action.devices.commands.OnOff\",\n//     params: {\n//         on: true\n//     }\n// };\n\n// delete msg._confId;\n\n// return msg;\n// } else {\n//     return;\n// }\n\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "2bf2ad5631ef3774",
                "d497134c23c50366"
            ]
        ]
    },
    {
        "id": "37d798e173494fe8",
        "type": "google-home-response",
        "z": "9a148c9dca835f17",
        "conf": "caa4d98949c7e701",
        "device": "32650",
        "name": "PC",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "2bf2ad5631ef3774",
        "type": "rbe",
        "z": "9a148c9dca835f17",
        "name": "only when state changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "37d798e173494fe8"
            ]
        ]
    },
    {
        "id": "d497134c23c50366",
        "type": "debug",
        "z": "9a148c9dca835f17",
        "name": "Update PC status SENT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "b3b1af0423c88dca",
        "type": "comment",
        "z": "9a148c9dca835f17",
        "name": "Set sensor para example:",
        "info": "",
        "x": 170,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4386154f5919a20f",
        "type": "function",
        "z": "9a148c9dca835f17",
        "name": "turn on device g home",
        "func": "\nlet motionActive = (msg.payload == \"1\") ? true : false;\n\nmsg.payload = {\n    params:\n        { on: motionActive }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1340,
        "wires": [
            [
                "a933cac456182309"
            ]
        ]
    },
    {
        "id": "30323263258d4ab8",
        "type": "inject",
        "z": "9a148c9dca835f17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "4386154f5919a20f"
            ]
        ]
    },
    {
        "id": "a933cac456182309",
        "type": "debug",
        "z": "9a148c9dca835f17",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5155c730fa102c90",
        "type": "comment",
        "z": "9a148c9dca835f17",
        "name": "PC status refresh",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "746dee14d9462268",
        "type": "debug",
        "z": "9a148c9dca835f17",
        "name": "pc status http request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "31350dfb4e9d8271",
        "type": "comment",
        "z": "9a148c9dca835f17",
        "name": "Refresh WLED status",
        "info": "",
        "x": 160,
        "y": 720,
        "wires": []
    },
    {
        "id": "af86b1eedfbe7094",
        "type": "link in",
        "z": "9a148c9dca835f17",
        "name": "-> ghome command",
        "links": [
            "1e64ebb1c957f856"
        ],
        "x": 75,
        "y": 780,
        "wires": [
            [
                "fde24491506b840a",
                "cfc3856dfbff60ae"
            ]
        ]
    },
    {
        "id": "fde24491506b840a",
        "type": "debug",
        "z": "9a148c9dca835f17",
        "name": "pc status http request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 220,
        "y": 880,
        "wires": []
    },
    {
        "id": "19d0b69f93b15902",
        "type": "function",
        "z": "9a148c9dca835f17",
        "name": "process into ghome status update",
        "func": "// node.warn(msg);\n// node.error(msg);\n\n// get command from payload, if it's brightness or color\n// set device status to on\nswitch (msg.payload.command) {\n    case \"action.devices.commands.BrightnessAbsolute\":\n        // node.warn(\"BrightnessAbsolute\");\n        //set payload to onOff=true status\n        msg.payload = {\n            command: \"action.devices.commands.OnOff\",\n            params: {\n                online: true,\n                on: true\n            }\n        };\n\n        break;\n    case \"action.devices.commands.ColorAbsolute\":\n        // node.warn(\"ColorAbsolute\");\n        msg.payload = {\n            command: \"action.devices.commands.OnOff\",\n            params: {\n                online: true,\n                on: true\n            }\n        };\n        break;\n        \n}\ndelete msg._confId;\n\n// get device ip\n// let deviceIP = msg.requestAddress;\n// node.warn()\n\n\n\n\n// node.error(\"output msg\");\n// node.error(msg);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 800,
        "wires": [
            [
                "cafd3fca415f4999"
            ]
        ]
    },
    {
        "id": "f627770d794b52d2",
        "type": "google-home-response",
        "z": "9a148c9dca835f17",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "name": "wled-desk",
        "x": 740,
        "y": 780,
        "wires": []
    },
    {
        "id": "08fb6c9b87e0ba1a",
        "type": "google-home-response",
        "z": "9a148c9dca835f17",
        "conf": "caa4d98949c7e701",
        "device": "32646",
        "name": "wled-up",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "0edc8d6dbd0d8751",
        "type": "google-home-response",
        "z": "9a148c9dca835f17",
        "conf": "caa4d98949c7e701",
        "device": "32647",
        "name": "wled-down",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "77d45ef6a21eaa7a",
        "type": "google-home-response",
        "z": "9a148c9dca835f17",
        "conf": "caa4d98949c7e701",
        "device": "32817",
        "name": "wled-ir",
        "x": 730,
        "y": 840,
        "wires": []
    },
    {
        "id": "4be2d2cdd7fdded3",
        "type": "comment",
        "z": "9a148c9dca835f17",
        "name": "delay because sometimes it would get overwritten by \"auto response\" code, not under my control",
        "info": "",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "cfc3856dfbff60ae",
        "type": "delay",
        "z": "9a148c9dca835f17",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "19d0b69f93b15902"
            ]
        ]
    },
    {
        "id": "2f8a861a65ba49ae",
        "type": "websocket in",
        "z": "4ae249d09029b7b6",
        "name": "websocket motion sensor",
        "server": "",
        "client": "ef513e599ee752c3",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "60e42f67c7f99220",
                "36139b11ee97a2d2"
            ]
        ]
    },
    {
        "id": "4ec18958a59637bd",
        "type": "google-home-response",
        "z": "4ae249d09029b7b6",
        "conf": "caa4d98949c7e701",
        "device": "34231",
        "name": "motion-sensor",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "60e42f67c7f99220",
        "type": "function",
        "z": "4ae249d09029b7b6",
        "name": "set params for g home",
        "func": "\nlet motionActive = (msg.payload == \"1\") ? true : false;\n\nmsg.payload = {\n    params:\n        { on: motionActive }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar lastCheckTime = 0;",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "4ec18958a59637bd"
            ]
        ]
    },
    {
        "id": "36139b11ee97a2d2",
        "type": "function",
        "z": "4ae249d09029b7b6",
        "name": "notify",
        "func": "\nif(msg.payload == \"1\"){\n    // node.error(\"payload=1\");\n    return [msg];\n} else {\n    // node.error(\"payload=0\");\n    return [,msg];\n}\n\n// return msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "5bb3ccf737b370ed",
                "e8d0e66c6441c135",
                "5611da7cde1e1f9f"
            ],
            [
                "ae7066bed2f5f471",
                "e8d0e66c6441c135",
                "bebb9349b1bec8f0"
            ]
        ]
    },
    {
        "id": "5bb3ccf737b370ed",
        "type": "trigger",
        "z": "4ae249d09029b7b6",
        "d": true,
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5000",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "5611da7cde1e1f9f"
            ]
        ]
    },
    {
        "id": "e8d0e66c6441c135",
        "type": "debug",
        "z": "4ae249d09029b7b6",
        "name": "2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "bebb9349b1bec8f0",
        "type": "wled-notification",
        "z": "4ae249d09029b7b6",
        "d": true,
        "name": "WLED biurko - notify red",
        "host": "192.168.1.32",
        "port": "21324",
        "fps": "30",
        "ledStart": "0",
        "ledCount": "64",
        "effect": "blink",
        "effectFrequency": "1",
        "effectCycles": "1",
        "effectColor": "#ff0000",
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5611da7cde1e1f9f",
        "type": "wled-notification",
        "z": "4ae249d09029b7b6",
        "d": true,
        "name": "WLED biurko - notify green",
        "host": "192.168.1.32",
        "port": "21324",
        "fps": "30",
        "ledStart": "0",
        "ledCount": "64",
        "effect": "blink",
        "effectFrequency": "1",
        "effectCycles": "1",
        "effectColor": "#00ff00",
        "x": 1020,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ae7066bed2f5f471",
        "type": "trigger",
        "z": "4ae249d09029b7b6",
        "d": true,
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5000",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "bebb9349b1bec8f0"
            ]
        ]
    },
    {
        "id": "aa50a93f12f29304",
        "type": "inject",
        "z": "ca8d3df2f1a7e9a9",
        "name": "const request payload",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$'https://content-sheets.googleapis.com/v4/spreadsheets/1skT1ZcRI9HCk7Eg6FU5WUMQKszHQqG9Q6sRW4tqD0tU/values/Log\\u0021A2:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS&includeValuesInResponse=false&responseValueRenderOption=FORMATTED_VALUE&responseDateTimeRenderOption=FORMATTED_STRING&alt=json&key=AIzaSyDjUFwTuB03t2wuSLxTRiYrwWUEbGapQgQ' \\   -H 'authority: content-sheets.googleapis.com' \\   -H 'accept: */*' \\   -H 'accept-language: pl-PL,pl;q=0.9,en-US;q=0.8,en;q=0.7' \\   -H 'authorization: Bearer ya29.a0AfB_byBV4cuapSIUIHLS1edoT_y3ZDcNTosS7FGFym_i7Acf4vYYKz55UQiXWLKs_KKn8SIbbv6Khbr61ZG5xtWwsQ6X6kmZ4TohQ8B1DxAbLzVUW0ChSWyjim5-tjLjQPqBjlv0UhmieoqXJyoxTLK4XQ0m989EewaCgYKAW0SARESFQHGX2MisuqLQ8Gd1aUrCbDxqybiVg0169' \\   -H 'content-type: application/json' \\   -H 'dnt: 1' \\   -H 'origin: https://content-sheets.googleapis.com' \\   -H 'referer: https://content-sheets.googleapis.com/static/proxy.html?usegapi=1&jsh=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.lb.pl.h4DDnAfgXls.O%2Fd%3D1%2Frs%3DAHpOoo9wNn0vX-xWLpFjETtn41G_qSxb3A%2Fm%3D__features__' \\   -H 'sec-ch-ua: \"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\"' \\   -H 'sec-ch-ua-mobile: ?0' \\   -H 'sec-ch-ua-platform: \"Windows\"' \\   -H 'sec-fetch-dest: empty' \\   -H 'sec-fetch-mode: cors' \\   -H 'sec-fetch-site: same-origin' \\   -H 'user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36' \\   -H 'x-client-data: CJS2yQEIo7bJAQipncoBCKPzygEIlqHLAQid/swBCIWgzQEIou7NAQjA7s0BCIPwzQEY9MnNARin6s0BGMr4zQE=' \\   -H 'x-clientdetails: appVersion=5.0%20(Windows%20NT%2010.0%3B%20Win64%3B%20x64)%20AppleWebKit%2F537.36%20(KHTML%2C%20like%20Gecko)%20Chrome%2F121.0.0.0%20Safari%2F537.36&platform=Win32&userAgent=Mozilla%2F5.0%20(Windows%20NT%2010.0%3B%20Win64%3B%20x64)%20AppleWebKit%2F537.36%20(KHTML%2C%20like%20Gecko)%20Chrome%2F121.0.0.0%20Safari%2F537.36' \\   -H 'x-goog-encode-response-if-executable: base64' \\   -H 'x-javascript-user-agent: google-api-javascript-client/1.1.0' \\   -H 'x-origin: http://localhost:3000' \\   -H 'x-referer: http://localhost:3000' \\   -H 'x-requested-with: XMLHttpRequest' \\   --data-raw '{\"values\":[[\"2024-02-29T02:09:06.945Z\",\"TEST\"]]}' \\   --compressed",
        "payloadType": "str",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "6c33fcb2efacf735",
                "41beee6d2cd0288c"
            ]
        ]
    },
    {
        "id": "6c33fcb2efacf735",
        "type": "exec",
        "z": "ca8d3df2f1a7e9a9",
        "command": "curl",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 900,
        "wires": [
            [
                "56c633daa1deb82b"
            ],
            [
                "56c633daa1deb82b"
            ],
            []
        ]
    },
    {
        "id": "56c633daa1deb82b",
        "type": "debug",
        "z": "ca8d3df2f1a7e9a9",
        "name": "req result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 660,
        "y": 880,
        "wires": []
    },
    {
        "id": "41beee6d2cd0288c",
        "type": "debug",
        "z": "ca8d3df2f1a7e9a9",
        "name": "append to cmd",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "6b4f503a72d0e2ca",
        "type": "inject",
        "z": "ca8d3df2f1a7e9a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "38269dd97bcb8bae"
            ]
        ]
    },
    {
        "id": "38269dd97bcb8bae",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "copy node.js fetch here",
        "func": "// import fetch from \"node-fetch\";\n\nfetch(\n    \"https://content-sheets.googleapis.com/v4/spreadsheets/1skT1ZcRI9HCk7Eg6FU5WUMQKszHQqG9Q6sRW4tqD0tU/values/Log!A2:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS&includeValuesInResponse=false&responseValueRenderOption=FORMATTED_VALUE&responseDateTimeRenderOption=FORMATTED_STRING&alt=json&key=AIzaSyDjUFwTuB03t2wuSLxTRiYrwWUEbGapQgQ\",\n    {\n        headers: {\n            accept: \"*/*\",\n            \"accept-language\": \"pl-PL,pl;q=0.9,en-US;q=0.8,en;q=0.7\",\n            authorization:\n                \"Bearer ya29.a0AfB_byBV4cuapSIUIHLS1edoT_y3ZDcNTosS7FGFym_i7Acf4vYYKz55UQiXWLKs_KKn8SIbbv6Khbr61ZG5xtWwsQ6X6kmZ4TohQ8B1DxAbLzVUW0ChSWyjim5-tjLjQPqBjlv0UhmieoqXJyoxTLK4XQ0m989EewaCgYKAW0SARESFQHGX2MisuqLQ8Gd1aUrCbDxqybiVg0169\",\n            \"content-type\": \"application/json\",\n            \"sec-ch-ua\":\n                '\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\"',\n            \"sec-ch-ua-mobile\": \"?0\",\n            \"sec-ch-ua-platform\": '\"Windows\"',\n            \"sec-fetch-dest\": \"empty\",\n            \"sec-fetch-mode\": \"cors\",\n            \"sec-fetch-site\": \"same-origin\",\n            \"x-client-data\":\n                \"CJS2yQEIo7bJAQipncoBCKPzygEIlqHLAQid/swBCIWgzQEIou7NAQjA7s0BCIPwzQEY9MnNARin6s0BGMr4zQE=\",\n            \"x-clientdetails\":\n                \"appVersion=5.0%20(Windows%20NT%2010.0%3B%20Win64%3B%20x64)%20AppleWebKit%2F537.36%20(KHTML%2C%20like%20Gecko)%20Chrome%2F121.0.0.0%20Safari%2F537.36&platform=Win32&userAgent=Mozilla%2F5.0%20(Windows%20NT%2010.0%3B%20Win64%3B%20x64)%20AppleWebKit%2F537.36%20(KHTML%2C%20like%20Gecko)%20Chrome%2F121.0.0.0%20Safari%2F537.36\",\n            \"x-goog-encode-response-if-executable\": \"base64\",\n            \"x-javascript-user-agent\": \"google-api-javascript-client/1.1.0\",\n            \"x-origin\": \"http://localhost:3000\",\n            \"x-referer\": \"http://localhost:3000\",\n            \"x-requested-with\": \"XMLHttpRequest\",\n            Referer:\n                \"https://content-sheets.googleapis.com/static/proxy.html?usegapi=1&jsh=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.lb.pl.h4DDnAfgXls.O%2Fd%3D1%2Frs%3DAHpOoo9wNn0vX-xWLpFjETtn41G_qSxb3A%2Fm%3D__features__\",\n            \"Referrer-Policy\": \"strict-origin-when-cross-origin\",\n        },\n        body: '{\"values\":[[\"2024-02-29T02:09:06.945Z\",\"TESTgfdsg\"]]}',\n        method: \"POST\",\n    }\n);\n\n// msg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fetch",
                "module": "node-fetch"
            }
        ],
        "x": 450,
        "y": 600,
        "wires": [
            [
                "da8091b13d0d7b2e"
            ]
        ]
    },
    {
        "id": "da8091b13d0d7b2e",
        "type": "debug",
        "z": "ca8d3df2f1a7e9a9",
        "name": "complete msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "75bcdeec853477f2",
        "type": "comment",
        "z": "ca8d3df2f1a7e9a9",
        "name": "This is confirmed to be working but you need to update token manually",
        "info": "This is confirmed to be working but you need to update token manually",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "f69ba6d70fce27c7",
        "type": "file",
        "z": "ca8d3df2f1a7e9a9",
        "name": "token.json",
        "filename": "token.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e0ba9253072a759d",
        "type": "inject",
        "z": "ca8d3df2f1a7e9a9",
        "name": "create token",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"authorized_user\",\"client_id\":\"2984513983-n0vmc8oq8ir3g9p50i10lcsv2bgkgsr2.apps.googleusercontent.com\",\"client_secret\":\"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\",\"refresh_token\":\"1//09ABc4NosA3KtCgYIARAAGAkSNwF-L9Irjbg2B0UTGO-NxrUOuOQDrJ3ClX_KamhSInF1nlcHlpG1NusuFVXpXB2W9lZOiIoIzXE\"}",
        "payloadType": "json",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "f69ba6d70fce27c7"
            ]
        ]
    },
    {
        "id": "18463796663bf6e8",
        "type": "file in",
        "z": "ca8d3df2f1a7e9a9",
        "name": "token.json",
        "filename": "token.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "23584fb589c73aab"
            ]
        ]
    },
    {
        "id": "cff0e73a5980cf66",
        "type": "inject",
        "z": "ca8d3df2f1a7e9a9",
        "name": "read token",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "18463796663bf6e8"
            ]
        ]
    },
    {
        "id": "23584fb589c73aab",
        "type": "debug",
        "z": "ca8d3df2f1a7e9a9",
        "name": "token read:",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "f515184b640f3965",
        "type": "comment",
        "z": "ca8d3df2f1a7e9a9",
        "name": "Will create/read file in home dir",
        "info": "",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce38d71236c08a44",
        "type": "comment",
        "z": "ca8d3df2f1a7e9a9",
        "name": "examples below ----------------------------------------------------------",
        "info": "",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd2185eff674c0c9",
        "type": "comment",
        "z": "ca8d3df2f1a7e9a9",
        "name": "refresh status, turn device on when brightness > 0 or color was choosen",
        "info": "",
        "x": 370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "911dd60e71233ac6",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn off",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1180,
        "wires": [
            [
                "3a2a272cbceb8b6e"
            ]
        ]
    },
    {
        "id": "3a2a272cbceb8b6e",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "name": "wled-desk",
        "x": 460,
        "y": 1160,
        "wires": []
    },
    {
        "id": "056589685e36f9e6",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn on",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "3a2a272cbceb8b6e"
            ]
        ]
    },
    {
        "id": "f6c788cba0805379",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn off",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1240,
        "wires": [
            [
                "bc82fcd5fc67d546"
            ]
        ]
    },
    {
        "id": "bc82fcd5fc67d546",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32646",
        "name": "wled-up",
        "x": 460,
        "y": 1220,
        "wires": []
    },
    {
        "id": "64bd6e81c512dc5b",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn on",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1220,
        "wires": [
            [
                "bc82fcd5fc67d546"
            ]
        ]
    },
    {
        "id": "16950aaa06f31d4d",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn off",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1300,
        "wires": [
            [
                "fe04f5e554946e8f"
            ]
        ]
    },
    {
        "id": "fe04f5e554946e8f",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32647",
        "name": "wled-down",
        "x": 470,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7918c8f512cbc571",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn on",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1280,
        "wires": [
            [
                "fe04f5e554946e8f"
            ]
        ]
    },
    {
        "id": "2a9f2a8da12827b8",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn off",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1360,
        "wires": [
            [
                "8b54195b8d36e085"
            ]
        ]
    },
    {
        "id": "8b54195b8d36e085",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32817",
        "name": "wled-ir",
        "x": 450,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8fa1035b95af9f3f",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn on",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1340,
        "wires": [
            [
                "8b54195b8d36e085"
            ]
        ]
    },
    {
        "id": "50a858fe891fdf1e",
        "type": "switch",
        "z": "ca8d3df2f1a7e9a9",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wled-down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-desk",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-ir",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "7918c8f512cbc571"
            ],
            [
                "64bd6e81c512dc5b"
            ],
            [
                "056589685e36f9e6"
            ],
            [
                "8fa1035b95af9f3f"
            ]
        ]
    },
    {
        "id": "c477b4a908301ba4",
        "type": "switch",
        "z": "ca8d3df2f1a7e9a9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1240,
        "wires": [
            [],
            [
                "5352ede569bc61d9"
            ]
        ]
    },
    {
        "id": "5352ede569bc61d9",
        "type": "function",
        "z": "ca8d3df2f1a7e9a9",
        "name": "turn off",
        "func": "\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1240,
        "wires": [
            [
                "58e7e4fee7c36f15"
            ]
        ]
    },
    {
        "id": "58e7e4fee7c36f15",
        "type": "switch",
        "z": "ca8d3df2f1a7e9a9",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wled-down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-desk",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-ir",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 970,
        "y": 1240,
        "wires": [
            [
                "525cdf25b85291e7"
            ],
            [
                "cd2a614e8c5c67f8"
            ],
            [
                "ae2576326fd36760"
            ],
            [
                "d25a4c1a8f624c88"
            ]
        ]
    },
    {
        "id": "ae2576326fd36760",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "name": "wled-desk",
        "x": 1160,
        "y": 1260,
        "wires": []
    },
    {
        "id": "cd2a614e8c5c67f8",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32646",
        "name": "wled-up",
        "x": 1160,
        "y": 1240,
        "wires": []
    },
    {
        "id": "525cdf25b85291e7",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32647",
        "name": "wled-down",
        "x": 1170,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d25a4c1a8f624c88",
        "type": "google-home-response",
        "z": "ca8d3df2f1a7e9a9",
        "conf": "caa4d98949c7e701",
        "device": "32817",
        "name": "wled-ir",
        "x": 1150,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1533b906c6878a61",
        "type": "function",
        "z": "8b6530bcd77a42d0",
        "name": "turn off",
        "func": "if (!msg.payload) {\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: false\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n} else {\n    return;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "83549d88905ef9b1",
                "a9af3070bd598c0b"
            ]
        ]
    },
    {
        "id": "a9af3070bd598c0b",
        "type": "debug",
        "z": "8b6530bcd77a42d0",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "83549d88905ef9b1",
        "type": "google-home-response",
        "z": "8b6530bcd77a42d0",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "name": "wled-desk",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "cbfc03a487ea6d36",
        "type": "inject",
        "z": "8b6530bcd77a42d0",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "1533b906c6878a61"
            ]
        ]
    },
    {
        "id": "8da5991a38f56e8b",
        "type": "function",
        "z": "8b6530bcd77a42d0",
        "name": "turn on",
        "func": "if (!msg.payload) {\nmsg.payload = {\n    command: \"action.devices.commands.OnOff\",\n    params: {\n        on: true\n    }\n};\n\ndelete msg._confId;\n\nreturn msg;\n} else {\n    return;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "a9af3070bd598c0b",
                "83549d88905ef9b1"
            ]
        ]
    },
    {
        "id": "cee785b7c3b74e4a",
        "type": "inject",
        "z": "8b6530bcd77a42d0",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "8da5991a38f56e8b"
            ]
        ]
    },
    {
        "id": "b98ee7c245449679",
        "type": "comment",
        "z": "8b6530bcd77a42d0",
        "name": "Works even with wled-desk with \"auto acknowledge\" on",
        "info": "",
        "x": 740,
        "y": 100,
        "wires": []
    }
]