flows.json
[
    {
        "id": "9ffaf4a50f363f22",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6b62a21c7ac773f",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "399e830f6527be55"
            ]
        ]
    },
    {
        "id": "4b554fb5f150a3f4",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 2280,
        "y": 180,
        "wires": [
            [
                "ca4a200023daf268",
                "eef01edb1bef9cc7",
                "0f63dcc1c16649e4",
                "2ceac86c9de3924d"
            ]
        ]
    },
    {
        "id": "2a40f09a09e9863f",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1520,
        "y": 160,
        "wires": [
            [
                "9d087983f318aca6"
            ]
        ]
    },
    {
        "id": "64a06e4d992eae97",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 1520,
        "y": 140,
        "wires": [
            [
                "b7edd705e6299cc2"
            ]
        ]
    },
    {
        "id": "b3c5cda6a292e8b0",
        "type": "junction",
        "z": "9ffaf4a50f363f22",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "bbedd69c8c297a0b"
            ]
        ]
    },
    {
        "id": "caa4d98949c7e701",
        "type": "google-home-conf",
        "username": "Fixero"
    },
    {
        "id": "8d25db8c821dac72",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bdd3e9eeb8cd86cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Kamil dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4826374eb28b8579",
        "type": "ui_group",
        "name": "Debug",
        "tab": "8d25db8c821dac72",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4eea07dacc3cc504",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32645",
        "acknowledge": true,
        "name": "wled-desk",
        "topic": "desk",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "5a775f44c5a04ffd",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32646",
        "acknowledge": true,
        "name": "wled-up",
        "topic": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "2304b10cd110da24",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32647",
        "acknowledge": true,
        "name": "wled-down",
        "topic": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "610291c954af6852",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32650",
        "acknowledge": true,
        "name": "pc",
        "topic": "",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "1a239aca8279508e"
            ]
        ]
    },
    {
        "id": "2e37ae7f161d44bf",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32649",
        "acknowledge": true,
        "name": "ambient",
        "topic": "",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "f9f5222d3307d3a2"
            ]
        ]
    },
    {
        "id": "f9f5222d3307d3a2",
        "type": "template",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Michal? Chodzi o tego idiote?\nChlop supli do wleda nie umie zalaczyc 😂😂😂😂",
        "output": "str",
        "x": 280,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "399e830f6527be55",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "msg.name",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wled-desk",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-ir",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wled-short",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "1b09234adde36173"
            ],
            [
                "8eba3691d133eb03"
            ],
            [
                "8136788f3ace0ce5"
            ],
            [
                "13dbd3259afb9ef1"
            ],
            [
                "c2651d12f8bea324"
            ]
        ]
    },
    {
        "id": "1b09234adde36173",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled desk",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.32",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "8eba3691d133eb03",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled shelf-up",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.95",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "8136788f3ace0ce5",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled shelf-down",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.29",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "13dbd3259afb9ef1",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled-ir",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.41",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "075159bfbe7990f4"
            ]
        ]
    },
    {
        "id": "6946712f49f33e80",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "onof",
        "format": "{{msg.payload.params.on}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "9d1a3d699b4477e4",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "bri",
        "format": "{{msg.payload.params.brightness}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "75054f6c44fdfdba",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload.params.color.temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 240,
        "wires": []
    },
    {
        "id": "97bda075be31518a",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "spectrumRGB",
        "format": "{{msg.payload.params.color.spectrumRGB}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 220,
        "wires": []
    },
    {
        "id": "bbedd69c8c297a0b",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params",
        "property": "payload.params",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "6946712f49f33e80",
                "8cfa41f5d3f92345"
            ],
            [
                "9d1a3d699b4477e4",
                "6d22ec1b33fc9833"
            ],
            [
                "0e1ae18a04fa1a48"
            ]
        ]
    },
    {
        "id": "ace1264ff31c86d3",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "spectrumRGB -> hex string",
        "func": "let colorInt = msg.payload.params.color.spectrumRGB;\nlet colorString = colorInt.toString(16);\nlet newMsg = {};\n\nnewMsg.payload = colorString; // \nmsg.color = colorInt; // used by WLED\n\n// msg - goes to WLED\nreturn [newMsg, msg];\n\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 280,
        "wires": [
            [
                "732597945aedf1d6",
                "ba1106a4146039b5",
                "ca541719d9b3ad9e"
            ],
            [
                "2f3634a5c980132c"
            ]
        ],
        "inputLabels": [
            "spectrumRgb"
        ],
        "outputLabels": [
            "hexString",
            "spectrumRgb"
        ]
    },
    {
        "id": "0e1ae18a04fa1a48",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params.color",
        "property": "payload.params.color",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "spectrumRGB",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "temperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "97bda075be31518a",
                "ace1264ff31c86d3"
            ],
            [
                "75054f6c44fdfdba",
                "c6096322a65fa967"
            ]
        ]
    },
    {
        "id": "732597945aedf1d6",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hex color",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1460,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba1106a4146039b5",
        "type": "ui_colour_picker",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "label": "",
        "group": "4826374eb28b8579",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ca541719d9b3ad9e",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "devName",
        "format": "{{msg.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1460,
        "y": 240,
        "wires": []
    },
    {
        "id": "6d22ec1b33fc9833",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with brightness",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "msg.payload.params.brightness",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 160,
        "wires": [
            [
                "2a40f09a09e9863f"
            ]
        ]
    },
    {
        "id": "c6096322a65fa967",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.params.color.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 320,
        "wires": [
            [
                "b8ad6bdf752ee853",
                "fa2620b2ae0da780"
            ]
        ]
    },
    {
        "id": "18e4d12257d68266",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send onOff request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{requestAddress}}/win&T={{on}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2080,
        "y": 140,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "57701eebef619216",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "info": "wget \"http://192.168.1.33/win&A=20&R=255&G=255&B=255\"",
        "x": 2160,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca4a200023daf268",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "statusCode from wled request",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2470,
        "y": 180,
        "wires": []
    },
    {
        "id": "8cfa41f5d3f92345",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.payload with on/off state",
        "rules": [
            {
                "t": "set",
                "p": "on",
                "pt": "msg",
                "to": "msg.payload.params.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "64a06e4d992eae97"
            ]
        ]
    },
    {
        "id": "46e4e50f672094fe",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "Parse home commands: onState, brightness, color, temperature to commands understandable by WLED",
        "info": "",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "eef01edb1bef9cc7",
        "type": "ui_text",
        "z": "9ffaf4a50f363f22",
        "group": "4826374eb28b8579",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2390,
        "y": 120,
        "wires": []
    },
    {
        "id": "b7edd705e6299cc2",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "true/false to \"0\" \"1\"",
        "func": "let bool = msg.on;\n\n\nif(bool == true){\n    bool = \"1\";\n} else {\n    bool = \"0\";\n}\n\nmsg.on = bool;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 140,
        "wires": [
            [
                "18e4d12257d68266"
            ]
        ]
    },
    {
        "id": "6f0de4d8750d3505",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send brightness request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{requestAddress}}/win&A={{brightness}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2100,
        "y": 180,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "9d087983f318aca6",
        "type": "range",
        "z": "9ffaf4a50f363f22",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "brightness",
        "name": "brightness 0-100 to 0-255",
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "6f0de4d8750d3505"
            ]
        ]
    },
    {
        "id": "2f3634a5c980132c",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send color request to WLED",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{requestAddress}}/win&CL={{color}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2080,
        "y": 220,
        "wires": [
            [
                "4b554fb5f150a3f4"
            ]
        ]
    },
    {
        "id": "0f63dcc1c16649e4",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "whole msg",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2410,
        "y": 260,
        "wires": []
    },
    {
        "id": "e36a1d7188cf1b50",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "device name -> wled address",
        "info": "http://192.168.1.41/ master\nhttp://192.168.1.42/ shelf-down\nhttp://192.168.1.33/ desk\nhttp://192.168.1.59/ shlf up",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "2ceac86c9de3924d",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "url after request",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "responseUrl",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2430,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a239aca8279508e",
        "type": "template",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "field": "state",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.params.on}}",
        "output": "str",
        "x": 260,
        "y": 980,
        "wires": [
            [
                "91ee46c6c6984204"
            ]
        ]
    },
    {
        "id": "2e596abc3ea67cf3",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.77/api?p={{state}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 980,
        "wires": [
            [
                "1c41eecd124da8f5",
                "33fa10f2dae4b382"
            ]
        ]
    },
    {
        "id": "ec34f3a72def4509",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "http://192.168.1.77/api?p=off",
        "info": "http://192.168.1.77/api?p=off",
        "x": 780,
        "y": 920,
        "wires": []
    },
    {
        "id": "1c41eecd124da8f5",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 960,
        "wires": []
    },
    {
        "id": "33fa10f2dae4b382",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "responseUrlstring",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "responseUrl",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d52d52552741aa27",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "msg.state=off",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "2e596abc3ea67cf3"
            ]
        ]
    },
    {
        "id": "91ee46c6c6984204",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "msg.state?",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "819b87fa28bba4c5"
            ],
            [
                "d52d52552741aa27"
            ]
        ]
    },
    {
        "id": "819b87fa28bba4c5",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "msg.state=on",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 960,
        "wires": [
            [
                "2e596abc3ea67cf3"
            ]
        ]
    },
    {
        "id": "8ac12cb22d3b3ee3",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32817",
        "acknowledge": true,
        "name": "wled-ir",
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    },
    {
        "id": "cd75ec966815c4c1",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "Catch everything else",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 840,
        "wires": []
    },
    {
        "id": "51da9d9ef4872525",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.1.41/json/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 560,
        "wires": [
            [
                "37b89f5589a15127"
            ]
        ]
    },
    {
        "id": "68ccd0c019426fda",
        "type": "catch",
        "z": "9ffaf4a50f363f22",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "cd75ec966815c4c1"
            ]
        ]
    },
    {
        "id": "799cfde25e88915e",
        "type": "template",
        "z": "9ffaf4a50f363f22",
        "name": "payload: wled color",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"seg\": {\n        \"col\": [\n            [{{colorArray}}]\n        ]\n    }\n}",
        "output": "str",
        "x": 1070,
        "y": 560,
        "wires": [
            [
                "51da9d9ef4872525"
            ]
        ]
    },
    {
        "id": "f515a6706e07e594",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "spectrumRGB -> [r,g,b]",
        "func": "let colorInt = msg.payload.params.color.spectrumRGB;\n\n// node.warn(\"colorInt=\"+colorInt);\n// node.warn(colorInt);\n\n// Parse the hex string into three separate values for red, green, and blue\nlet r = (colorInt >> 16) & 255;\nlet g = (colorInt >> 8) & 255;\nlet b = colorInt & 255;\n\n// save RGB values as an array\nmsg.colorArray = [r, g, b];\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 560,
        "wires": [
            [
                "799cfde25e88915e"
            ]
        ]
    },
    {
        "id": "075159bfbe7990f4",
        "type": "switch",
        "z": "9ffaf4a50f363f22",
        "name": "payload.params",
        "property": "payload.params",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "89be4982171e0fe5"
            ],
            [],
            [
                "f515a6706e07e594"
            ]
        ]
    },
    {
        "id": "0f968ab3cb548317",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "ir brightness todo",
        "info": "",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "8de734d93914b78d",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send bulbCommand",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "89be4982171e0fe5",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "prepare msg.url and msg.payload",
        "func": "msg.url = \"http://192.168.1.41/json/si\" // where to send request\nlet statusFromGHome = msg.payload.params.on; // assigning to variable\n\n// if I wanted to put value from msg straight into payload you would do this: \n// msg.payload = `{\"bulbCommand\": ${msg.payload.params.on}}`\n\n// translate ghome command to irBulb command, \"03\" = off, \"04\" - on\n// constant payloads in this case so surrounded by ' not ` \nif(statusFromGHome){\n    msg.payload = '{\"bulbCommand\": \"04\"}'\n} else {\n    msg.payload = '{\"bulbCommand\": \"03\"}'\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 480,
        "wires": [
            [
                "8de734d93914b78d"
            ]
        ]
    },
    {
        "id": "6687676799b04fb4",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "DO JSON REQUESTS LIKE THIS:",
        "info": "",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "b8ad6bdf752ee853",
        "type": "debug",
        "z": "9ffaf4a50f363f22",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1540,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa2620b2ae0da780",
        "type": "function",
        "z": "9ffaf4a50f363f22",
        "name": "prepare wled payload with temperature",
        "func": "\nmsg.payload = \n`{\n    \"seg\" : \n        {\n            \"cct\": ${msg.payload}\n        }\n}`\n\nmsg.url = `${msg.requestAddress}/json/`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 320,
        "wires": [
            [
                "feba120de6145e53"
            ]
        ]
    },
    {
        "id": "feba120de6145e53",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "d": true,
        "name": "Send POST to: msg.url, with body: msg.payload",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1980,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d48fb30c076abd42",
        "type": "comment",
        "z": "9ffaf4a50f363f22",
        "name": "This is almost fully working, problem is:",
        "info": "\nit turns out actually in wled web interface they just modify segment color\nbased on value of brightness slider so you have to write function\nto do the same\nNo, \"cct\" doesn't work\n",
        "x": 1950,
        "y": 360,
        "wires": []
    },
    {
        "id": "37b89f5589a15127",
        "type": "http request",
        "z": "9ffaf4a50f363f22",
        "name": "Send POST to: msg.url, with body: msg.payload",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c2651d12f8bea324",
        "type": "change",
        "z": "9ffaf4a50f363f22",
        "name": "wled short",
        "rules": [
            {
                "t": "set",
                "p": "requestAddress",
                "pt": "msg",
                "to": "192.168.1.71",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "b3c5cda6a292e8b0"
            ]
        ]
    },
    {
        "id": "92eb1373e49f154d",
        "type": "google-home",
        "z": "9ffaf4a50f363f22",
        "conf": "caa4d98949c7e701",
        "device": "32842",
        "acknowledge": true,
        "name": "wled-short",
        "topic": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "f6b62a21c7ac773f"
            ]
        ]
    }
]